a {
    text-decoration: none;
}


table {
    border-collapse: collapse;
}

body {
    background: #3884C7 radial-gradient(circle 400px, #89B6DD, #5697CF, #3884C7);
    font: 12px/1.2 Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    color: #FFF;
}

#content {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 70em;
    height: 5em; 
    #title {
        transition: all 0.6s ease;
        transform-style: preserve-3d;  
        transform: perspective(1200px);
        position: relative;
        height: 5em; 
        margin-top: 30px;
        .star {
            font-size: 40px;
            margin: 0;
            color: #00A8FF;
            text-shadow: 0 0 2px #52C4FF, 0 -2px 2px #FFF;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
        .chi {
            transform: translateZ(25px) ;
        }
        .eng {
            opacity: 0;
            transform: rotateX(90deg) translateZ(20px);
        }
        &:hover {
            
            transform: rotateX(-90deg);
            .chi {
                transform: translateZ(25px);
            }
            .eng {
                opacity: 1;
                transform: rotateX(90deg) translateZ(20px);
            }
        }
    }
}

#elements {
    border: 0;
    width: 0;
    margin: 20px auto;
    tr {
        &:nth-last-of-type(5) td .info,
        &:nth-last-of-type(4) td .info,
        &:nth-last-of-type(3) td .info,
        &:nth-last-of-type(1) td .info {
            top: -200%;
        }
    }
    td,
    .element {
        width: 5em;
        height: 4.2em;
        padding: 0;
        margin: 0;
    }
}

$i: 4;
#elements td {
    position: relative;
    padding: 3px;
    .info {
        display: none;
        margin: 0 2px;
        min-height: 5em;
        padding: 0.75em;
        position: absolute;
        top: 100%;
        width: 20em;
        z-index: 300;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
        h3 {
            color: black;
            font-weight: bold;
            margin-bottom: 0.5em;
            font-size: 1.6em;
        }
        p {
            margin-bottom: 0.75em;
            color: black;
        }
        a {
            color: #0018E2;
            &:hover {
                color: #5090DE;
            }
        }
    }
    @for $i from 1 through 4 {
        &:nth-last-of-type(#{$i}) .info {
            right: -4px;
        }
    }
    .links {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
            padding: 0;
            display: inline;
            &:after {
                content: ", ";
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}

#legend .icon,
#elements td .icon {
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    width: inherit;
    height: inherit;
    line-height: 4.2em;
    text-align: center;
    padding: 1px;
    position: relative;
    border-radius: 4px;
    transition: all 0.6s ease;
}


/* #elements .active  {
   z-index: 300;
} */

#elements td:hover .icon {
    transform: translateY(-40%) scale(2);
}

#legend {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        float: left;
        width: 25%;
        padding: 0.125em 0;
    }
    .icon {
        height: 1.5em;
        width: 1.5em;
        display: inline-block;
        margin: 0 0.5em;
        vertical-align: middle;
    }
}

#legend .root .icon,
#elements .root .icon,
#elements .root .info {
    background-color: rgba(155, 255, 155, 0.6);
    border: 1px solid rgba(37, 242, 39, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(37, 242, 39, 0.95);
}

#legend .document .icon,
#elements .document .icon,
#elements .document .info {
    background-color: rgba(120, 140, 255, 0.6);
    border: 1px solid rgba(201, 161, 247, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(201, 161, 247, 0.95);
}

#legend .text .icon,
#elements .text .icon,
#elements .text .info {
    background-color: rgba(255, 255, 100, 0.6);
    border: 1px solid rgba(248, 247, 3, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(248, 247, 3, 0.95);
}

#legend .grouping .icon,
#elements .grouping .icon,
#elements .grouping .info {
    background-color: rgba(255, 150, 80, 0.6);
    border: 1px solid rgba(248, 99, 0, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(248, 99, 0, 0.95);
}

#legend .form .icon,
#elements .form .icon,
#elements .form .info {
    background-color: rgba(0, 210, 151, 0.6);
    border: 1px solid rgba(0, 255, 199, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(0, 255, 199, 0.95);
}

#legend .sections .icon,
#elements .sections .icon,
#elements .sections .info {
    background-color: rgba(98, 90, 202, 0.6);
    border: 1px solid rgba(55, 40, 254, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(55, 40, 254, 0.95);
}

#legend .interactive .icon,
#elements .interactive .icon,
#elements .interactive .info {
    background-color: rgba(46, 154, 230, 0.6);
    border: 1px solid rgba(0, 150, 255, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(0, 150, 255, 0.95);
}

#legend .table .icon,
#elements .table .icon,
#elements .table .info {
    background-color: rgba(226, 88, 81, 0.6);
    border: 1px solid rgba(251, 66, 56, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(251, 66, 56, 0.95);
}

#legend .embedding .icon,
#elements .embedding .icon,
#elements .embedding .info {
    background-color: rgba(255, 150, 255, 0.6);
    border: 1px solid rgba(255, 31, 255, 0.6);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(255, 31, 255, 0.95);
}
