
.pattern-bg {
    width: 100%;
    height: 82px;
    background: url("../img/support-pattern.png") repeat-x;
}
.section {
    padding-top: 72px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
#package_content {
    margin-bottom: 40px;
}
.package-card {
    position: relative;
    width: 280px;
    height: 350px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
}
.package-card.active {
    width: 300px;
    height: 410px;
    margin-left: -10px;
    margin-right: -9px;
}
#active {
    z-index: 99;
}
.package-header {
    color: #fff;
    padding-top: 35px;
    height: 134px;
    background-color: #1AA79A;
    padding-top: 35px;
    border-radius: 0 0 50% 50%/0 0 50px 50px;
}
.package-header h2 {
    padding-top: 10px;
    font-family: "微软雅黑";
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 10px;
}
.package-content {
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 40px;
    color: #3F515F;
    font-family: "微软雅黑";
    display: inline-block;
}
.btn {
    width: 120px;
    height: 40px;
    font-family: "微软雅黑";
    background-color: #fff;
    color: #1AA79A;
    border-radius: 20px;
    border: 1px solid transparent;
    border-color: #1AA79A;
    cursor: pointer;
}
.btn:hover {
    background-color: gold;
    color: #fff;
    border: none;
}
.badge-wrap {
    margin: 0 auto;
    width: 60px;
    height: 30px;
    background-color: #F87335;
    font-size: 0;
}
.badge-wrap span {
    width: 60px;
    line-height: 45px;
    display: inline-block;
    color: #fff;
    background-color: #F87335;
    font-size: 15px;
}
.arraw {
    width: 0;
    height: 0;
    overflow: hidden;
    border: 30px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: none;
    box-sizing: border-box;
    display: inline-block;
}
.section packages-content small {
    font-size: 15px;
}
#welcom {
    color: #1AA79A;
}
.packages-cert {
    color: #fff;
    background-color: #1AA79A;
    padding-bottom: 80px;
}
.cert-header {
    margin-bottom: 46px;
}
.cert-header i {
    font-size: 100px;
}
.half {
    display: inline-block;
    font-family: "微软雅黑";
}
.cert-item {
    font-size: 28px;
    margin-bottom: 16px;
}
.list-unstyled {
    font-size: 20px;
}
.text-right {
    text-align: right;
    padding-right: 56px;
    border-right: 4px solid #fff;
}
.text-left {
    text-align: left;
    margin: 0 2em;
}
.packages-faq {
    max-width: 1000px;
    margin: 0 auto;
    display: table;
    color: #1AA79A;
}
.packages-faq-header {
    font-family: arial;
    vertical-align: top;
    line-height: 1;
    display: inline-block;
    font-size: 60px;
    width: 210px;
    height: 80px;
}
.packages-faq-content {
    display: inline-block;
    font-size: 14px;
}
.faq-title {
    font-size: 20px;
    margin-bottom: 8px;
}
.faq-list-items {
    color: #979799;
    margin-bottom: 40px;
}
.faq-list-items li {
    line-height: 20px;
}


.mid .dialog {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    width: 500px;
    height: 200px;
    border: 2px solid #000;
    background: #FFF;
    text-align: center;
    z-index: 1000;
    display: none;
}
.mid .dialog .text {
    padding: 10px 0;
    margin: 50px 0;
}
@media screen and (max-width: 500px) {
    .mid .dialog {
        width: 100%;
        box-sizing: border-box;
        margin-left: -50%;
    }
}